*.json
*.tsv
.python-version
*.pyc
TADbit-master
TADbit-master/*
env
env/*
*~
*.DS_Store
*_build*
.eggs*
bs_align
bs_index
bs_utils
mg_process_fastq.egg-info*
tool/FilterReads.py
.cache
/tests/data/tmp
